
.code1{
	grid-area: code1;
}

.code2{
	grid-area: code2;	
}

.code3{
	grid-area: code3;	
}

.code4{
	grid-area: code4;	
}

.code5{
	grid-area: code5;
}

.code6{
	grid-area: code6;	
}

.code7{
	grid-area: code7;	
}

.code8{
	grid-area: code8;
}

.code9{
	grid-area: code9;	
}

.code10{
	grid-area: code10;	
}

.code11{
	grid-area: code11;	
}

.code12{
	grid-area: code12;
}

.code13{
	grid-area: code13;	
}

.code14{
	grid-area: code14;	
}

.code14-align-self{
	grid-area: code14-align-self;	
}

.code14-align-self-deux{
	grid-area: code14-align-self-deux;	
}

.code14-flex-start{
	grid-area: code14-flex-start;	
}

.code14-flex-end{
	grid-area: code14-flex-end;	
}

.code15{
	grid-area: code15;	
}

.code16{
	grid-area: code16;	
}

.code17{
	grid-area: code17;	
}

.code18{
	grid-area: code18;	
}

.code19{
	grid-area: code19;	
}

.code20{
	grid-area: code20;	
}

.code21{
	grid-area: code21;	
}

.code22{
	grid-area: code22;	
}

.code23{
	grid-area: code23;	
}
.code24{
	grid-area: code24;	
}
.code25{
	grid-area: code25;	
}
.code26{
	grid-area: code26;	
}
.code27{
	grid-area: code27;	
}
.code28{
	grid-area: code28;	
}
.code29{
	grid-area: code29;	
}
.code30{
	grid-area: code30;	
}
.code31{
	grid-area: code31;	
}
.code32{
	grid-area: code32;	
}
.code33{
	grid-area: code33;	
}
.code34{
	grid-area: code34;	
}
.code35{
	grid-area: code35;	
}
.code36{
	grid-area: code36;	
}
.code37{
	grid-area: code37;	
}
.code38{
	grid-area: code38;	
}
.code39{
	grid-area: code39;	
}
.code40{
	grid-area: code40;	
}
.code41{
	grid-area: code41;	
}
.code42{
	grid-area: code42;	
}
.code43{
	grid-area: code43;	
}
.code44{
	grid-area: code44;	
}
.code45{
	grid-area: code45;	
}
.code46{
	grid-area: code46;	
}
.code47{
	grid-area: code47;	
}
.code48{
	grid-area: code48;	
}
.code49{
	grid-area: code49;	
}
.code50{
	grid-area: code50;	
}